.MainContainer {
  min-height: 100vh;
  background-color: var(--slate-gray);
  padding: 10% 0 0 0;
}

.titleContact {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 0.1em;
  word-spacing: 0.01em;
  margin-bottom: 30px;
  text-align: center;
  color: var(--white);
}

.subtitleContact {
  font-size: 28px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: var(--white);
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 50px;
}

.contactContainer {
  padding: 0 8%;
  display: flex;
  flex-direction: row;
}

.contactContainerLeft {
  width: 50%;
  padding-top: 5%;
}
.phoneContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.emailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.Text {
  font-size: 30px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.06em;
}

.contactContainerRight {
  width: 50%;
  border-left: 1px solid var(--white);
  padding: 2% 20% 2% 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formLabel {
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.formInput {
  background-color: var(--medium-gray);
  color: black;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.formtextarea {
  background-color: var(--medium-gray);
  color: black;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  min-height: 150px;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}
/* Styles pour les appareils mobiles */
@media (max-width: 1000px) {
  .MainContainer {
    padding: 15% 0;
  }
  .titleContact {
    font-size: 30px;
    padding: 0 5%;
  }

  .subtitleContact {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .contactContainer {
    flex-direction: column;
  }
  .contactContainerLeft {
    width: 100%;
  }

  .Icon {
    width: 30px;
    height: 30px;
  }

  .Text {
    font-size: 20px;
  }

  .contactContainerRight {
    width: 100%;
    border-left: none;
    padding: 0;
    margin-top: 14%;
  }
  .formInput {
    margin-bottom: 15px;
  }
  .btnContainer {
    display: flex;
    justify-content: center;
  }
}
